<div id="converse" uk-modal>
    <div class="uk-modal-dialog uk-modal-body" uk-overflow-auto>
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div id="message-comm">
            
        </div>
        <div class="convo">
            <h4 class="center grey">Conversation</h4>
            <div id="conversation" class="conversations">
                
            </div>
        </div>
    </div>
</div>