{{!-- Organisations, freelancers, and legislators --}}
<div class="o-border result center">
    <figure class="center-block">
        <img src="/img/png/avatar-1.png" class="j-avatar" title="Organisation's Avatar" alt="Organisation's Avatar">
        <figcaption><a href="javascript:void();">Organisation Name</a> <img src="/img/img-1/success.png" class="verified" title="Verified User" alt="Verified User"></figcaption>
    </figure>
    <p class="deep-grey-text">35 Followers</p>
    <button class="follow o-button">Follow</button>
</div>