<div id="sug-d" class="sug-ds">
    <h4>Districts you may want to follow<span class="close" id="close-d">X</span></h4>
    <div class="sug-d l-border">
        <img src="/img/img-1/user-3.png" class="suggestion-img" title="User's name" alt="User's name">
        <h4 class="center suggestion-name"><a href="javascript:void();" class="l-text">Rep. John Doe</a><img src="/img/img-1/success.png" class="verified" title="Verified Account" alt="Verified Account"></h4>
        <h5 class="center suggestion-position">District Name | Sen. Dist</h5>
    </div>
</div>