<div class="comment">
    <div class="c-avatar">
        <img src="/j_avatars/bf4780547ab7a1e02b68cc8c8166bffe" class="c-avatar-img" alt="Daniel Sule's avatar">
    </div>
    <div class="c-sender">
        <div class="c-sender-line">
            <a href="/profile/dsule">Daniel Sule</a>
        </div>
    </div>
    <div class="c-text">Hi there!</div>
    <div class="c-info right">
        <span class="item item-img"><img src="/img/png/edit.png" onclick="editComment(c_timestamp);" title="Edit" alt="Edit"></span>
        {{!-- The onclick is implemented in an addEventListener property --}}
        <span class="item item-img"><img src="/img/png/garbage.png" title="Delete" alt="Delete"></span>
        <span class="item grey">3:07 PM | Wed, 26 Sep 2018</span>
    </div>
</div>