<head>
    <link rel="stylesheet" href="/uikit/css/uikit.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/journalists.css">
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/uikit/js/uikit.js"></script>
    <title>Journalists | Town Hall</title>
</head>

<body>
    <nav class="uk-navbar-container uk-width-1-1" uk-navbar>
        <div class="uk-navbar-left uk-hidden@m">
            <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-nav"></a>
        </div>
        <div class="uk-navbar-center">
            <div>
                <div class="uk-navbar-nav">
                    <a class="uk-active uk-navbar-item uk-logo" href="/">Town Hall</a>
                </div>
            </div>
        </div>
        <div class="uk-navbar-right uk-visible@m">
            <div>
                <ul class="uk-navbar-nav">
                    <li><a href="/">Users</a></li>
                    <li><a href="/legislators">Legislators</a></li>
                    <li><a href="/organisations">Media Organisations</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="offcanvas-nav" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-primary">
                <li><a href="/">Users</a></li>
                <li><a href="/legislators">Legislators</a></li>
                <li><a href="/organisations">Media Organisations</a></li>
            </ul>
        </div>
    </div>
    <div id="main" uk-grid>
        <section class="main content uk-width-2-3@m uk-width-1-2@s uk-width-1-1@xs">
            <div class="right">
                <p id="lgP"><a title="Log in to your J-Account" href="/journalists/signin">Already have a J-Account? Log in</a></p>
            </div>
            <div class="uk-width-1-1">
                <div class="uk-width-2-3@l uk-width-1-2@m uk-width-1-1@s block-center uk-card uk-card-primary uk-card-body">
                    <h3 class="uk-card-title center">Town Hall Journalists</h3>
                    <p class="uk-card-body">
                        Our core belief at Town Hall is that guiding every democracy: that the government of the people
                        be done for and by the people.
                        <br><br>
                        To truly enforce that key aspect of democracy requires an electorate
                        that is informed of every decision made on their behalf.
                        <br><br>
                        The free press helps ensure that foundation of our democracy, and for that
                        same purpose Town Hall exists.
                        <br><br>
                        Connecting the general public to their elected representatives, Town Hall
                        ensures that only relevant news gets to individuals.
                        <br><br>
                        As a journalist, it is expected that you be a part of a given media organisation.
                        Therefore, your account is a 'Formal' Account.
                        If, however, you aren't, you can still function on Town Hall, but your Account will
                        be unverified and your account is a 'Freelance' Account.
                        <br><br>
                        After creating an Account, you will either be assigned a beat by your organisation or
                        you will be prompted to select one for yourself.
                        <br><br>
                        Your posts will appear in the Feed of all Town Hall users belonging to your district
                        who are followers of you or your organisation.
                        <br><br>
                        If you have any questions, <a href="mailto:support@townhall.com">contact us</a>
                        <br><br>
                        From all of us here at Town Hall, welcome on board.
                    </p>
                    <p class="uk-card-footer center">
                        Town Hall... Promoting Accountability.
                    </p>
                </div>
            </div>
        </section>
        <section class="form content center uk-width-1-3@m uk-width-1-2@s uk-width-1-1@xs">
            <div class="block-center uk-card uk-card-hover uk-card-default uk-card-body">
                <h3 class="uk-card-title center">Create a Town Hall J-Account</h3>
                <div class="errorDiv uk-form-danger" id="errorDiv">{{error}}</div>
                <form class="center" action="/journalists/signup" onsubmit="return validate();" enctype="multipart/form-data"
                    method="post">
                    <input type="text" class="uk-input" name="f_name" id="f_name" placeholder="*First Name">
                    <input type="text" class="uk-input" name="l_name" id="l_name" placeholder="*Last Name">
                    <input type="text" class="uk-input" name="username" id="username" placeholder="*Town Hall Username" class="input">
                    <input type="email" class="uk-input" name="email" id="email" class="input" placeholder="*Email Address">
                    <input type="password" class="uk-input" name="password" id="password" placeholder="*Password" class="input">
                    <input type="password" class="uk-input" id="pass1" placeholder="*Confirm Password" class="input">
                    <h4>*Account Type</h4>
                    <label for="radio1">Formal</label>
                    <input type="radio" name="ac_type" value="m" id="radio1" class="radio uk-radio">
                    <label for="radio2">Freelance</label>
                    <input type="radio" name="ac_type" value="l" id="radio2" class="radio uk-radio">
                    <h4>Upload Profile Photo</h4>
                    <input type="file" class="uk-placeholder" name="avatar" id="avatar">
                    <button class="button" type="submit" id="submit">Create J-Account</button>                    
                </form>
            </div>
        </section>
    </div>
    <script>
        let wsp = /^\s*$/;

        let clearErr = () => {
            setTimeout(() => {
                document.getElementById('errorDiv').textContent = '';
            }, 5000);
        }

        let throwErr = (err) => {
            window.scrollTo(0, 0);
            document.getElementById('errorDiv').textContent = err;
            clearErr();
        }

        function validate() {
            function identify(str) {
                return document.getElementById(str);
            }

            let f_name = identify('f_name').value;
            let l_name = identify('l_name').value;
            let username = identify('username').value;
            let email = identify('email').value;
            let password = identify('password').value;
            let pass1 = identify('pass1').value;
            let radios = document.getElementsByName('ac_type');
            let wsp = /^\s*$/;
            let test = (val) => {
                return wsp.test(val);
            }

            if (test(f_name) || test(l_name) || test(username) || test(email) || test(password) || test(pass1)) {
                throwErr('All fields marked * are required');
                return false;
            }
            else if (password !== pass1) {
                throwErr("Your passwords do not match");
                return false;
            }
            else if (!radios[0].checked && !radios[1].checked) {
                throwErr("Select Account Type");
                return false;
            }
            else {
                return true;
            }
        }

        $('#username').on('blur', () => {
            let username = document.getElementById('username').value;
            if (!wsp.test(username)) {
                $.ajax({
                    url: '/users/check/' + username,
                    method: 'GET',
                    success: (found) => {
                        if (found) {
                            throwErr("The username chosen is already in use. Please select another");
                        }
                    }

                });
            }
        });

        $('#email').on('blur', () => {
            let email = document.getElementById('email').value;
            if (!wsp.test(email)) {
                $.ajax({
                    url: '/users/checkEmail/' + email,
                    method: 'GET',
                    success: (found) => {
                        if (found) {
                            throwErr("The email address chosen is already in use. Please select another");
                        }
                    }
                });
            }
        });

        clearErr();
    </script>
</body>