<head>
    <title>Message demo | Town Hall</title>
    <link rel="stylesheet" href="/css/messages.css">
</head>

<body>
    <div class="message">
        <div class="m-avatar">
            <img src="/img/img-1/user-3.png" class="m-avatar-img" alt="Sender's avatar">
        </div>
        <div class="m-sender">
            <div class="m-sender-line">Sender Name <span class="verified"><img src="/img/img-1/success.png" title="Verified User" alt="Verified User"></span></div>
            <div class="m-sender-line">Sender Position</div>
        </div>
        <div class="m-text">
        {{message}}
        </div>
        <div class="m-info center">
            <img src="/img/png/chat-1.png" class="item" title="Conversation" alt="Conversation">
            <img src="/img/png/edit.png" class="item" title="Edit" alt="Edit">
            <img src="/img/img-1/flag.png" class="item" title="Report" alt="Report">
            <img src="/img/png/garbage.png" class="item" title="Delete" alt="Delete">
            <span class="item grey">7:09AM | 27th July, 2018</span>
        </div>
    </div>
</body>