<head>
    <link rel="stylesheet" href="/css/signup-adv.css">
    <script src="/js/jquery-3.3.1.js"></script>
    <title>Organisation Signup | Town Hall</title>
</head>
<body>
    <h2 class="center">Create a Town Hall Organisation Account</h2>
    <h4 class="center">Step <span id="num">1</span> of 8</h4>
    <h4 class="error" id="errorDiv">{{error}}</h4>
    <form class="center-block center white-back" onsubmit="return validate();" enctype="multipart/form-data" action="/organisations/signup" method="post">
        <section class="slide" id="slide1">
            <h3 class="center">*Organisation Name</h3>
            <div class="tip">This name is visible to all who view your Organisation's Town Hall profile</div>
            <input type="text" name="name" id="name" placeholder="Enter Organisation Name">
        </section>
        <section class="slide hidden" id="slide2">
            <h3 class="center">*Username</h3>
            <div class="tip">Unlike your Organisation name, your username is strictly unique to your organisation on Town Hall. This helps set you apart from any other entities that may bear your name</div>
            <input type="text" name="username" id="username" placeholder="Enter username">
        </section>
        <section class="slide hidden" id="slide3">
            <h3 class="center">*Official email Address</h3>
            <div class="tip">This email address is bound to your Town Hall Account and will not be available to the public</div>
            <input type="email" name="email" id="email" placeholder="Enter email Address">
        </section>
        <section class="slide hidden" id="slide4">
            <h3 class="center">*Correspondence email Address</h3>
            <div class="tip">This email address is used for correspondence between you and other Town Hall members and <em>is</em> available to the public</div>
            <input type="email" name="email_corr" id="email-corr" placeholder="Enter Correspondence email Address">
        </section>
        <section class="slide hidden" id="slide5">
            <h3 class="center">*Password</h3>
            <div class="tip">Your password must be at least eight (8) characters long and contain a combination of at least one of the following: letters, digits, and special characters</div>
            <input type="password" name="password" id="password" placeholder="Create password">
        </section>
        <section class="slide hidden" id="slide6">
            <h3 class="center">*Confirm password</h3>
            <div class="tip">Confirm the password you just entered</div>
            <input type="password" id="password1" placeholder="Confirm password">
        </section>
        <section class="slide hidden" id="slide7">
            <h3 class="center">NUJ Identification Number</h3>
            <div class="tip">To verify all organisations on Town Hall, we require their license number from the NUJ. As this is not a required field, if you are not registered with the NUJ, you can skip this step and come back to it later</div>
            <input type="text" name="id" id="id" placeholder="Enter ID number">
        </section>
        <section class="slide hidden" id="slide8">
            <h3 class="center">Upload your Organisation's Logo</h3>
            <div class="tip">This serves as the photo on your Organisation's profile page</div>
            <input class="no-border" type="file" name="logo" id="logo">
            <div class="center">
                <button class="green-back submit" type="submit">Create Account</button>
            </div>
        </section>
    </form>
    <section class="buttons center">
        <button class="button" id="prev" disabled="disabled">Previous</button>
        <button class="button" id="next">Next</button>
    </section>
    <script>
        var slides = $('.slide');
        let wsp = /^\s*$/;
        let current = 0;
        let last = slides.length - 1;
        let first = 0;
        //basic next button controller
        $('#next').on('click', ()=>{
            slides[current].classList += ' hidden';
            current++;
            changeNum();
            slides[current].className = 'slide';

            //for hiding next
            if(current == last){
                hide('next');
            }
            if(current != first){
                showBtn('prev');
            }
        });

        //basic previous button controller
        $('#prev').on('click', ()=>{
            slides[current].classList += ' hidden';
            current--;
            changeNum();
            slides[current].className = 'slide';

            //for hiding prev
            if(current == first){
                hide('prev');
            }
            if(current != last){
                showBtn('next');
            }
        });

        function jump(num){
            slides[current].classList += ' hidden';
            current = num;
            changeNum();
            slides[current].className = 'slide';

            if(current == first){
                hide('prev');
            }
            if(current != last){
                showBtn('next');
            }
        }

        function showError(errText){
            document.getElementById('errorDiv').textContent = errText;
            hideErr();
        }

        function hideErr(){
            setTimeout(()=>{
                document.getElementById('errorDiv').textContent = '';
            }, 6000)
        }

        function hide(id){
            document.getElementById(id).setAttribute('disabled', 'disabled');
        }

        function showBtn(id){
            document.getElementById(id).removeAttribute('disabled');
        }

        function changeNum(){
            document.getElementById('num').textContent = current+1;
        }

        function validate(){
            //name, username, email, email-corr, password, pass1, id
            let name = $('#name').val();
            let username = $('#username').val();
            let email = $('#email').val();
            let eCorr = $('#email-corr').val();
            let password = $('#password').val();
            let cPass = $('#password1').val();

            let test = (str)=>{
                return wsp.test(str);
            }

            if(test(name)){
                showError("Please enter your Organisation's name");
                jump(0);
                return false;
            }
            else if(test(username)){
                showError("Please enter a username for your Organisation");
                jump(1);
                return false;
            }
            else if(test(email)){
                showError("Please enter your Organisation's email address");
                jump(2);
                return false;
            }
            else if(test(eCorr)){
                showError("Please enter your Organisation's Correspondence email address");
                jump(3);
                return false;
            }
            else if(test(password)){
                showError("Please enter a password");
                jump(4);
                return false;
            }
            else if(test(cPass)){
                showError("Please re-enter your password for verification purposes");
                jump(5);
                return false;
            }
            else if(password !== cPass){
                showError("Please ensure that your passwords match");
                jump(5);
                return false;
            }
            else {
                return true;
            }
        }

        $('#username').on('blur', ()=>{
            let username = document.getElementById('username').value;
            if(!wsp.test(username)){
                $.ajax({
                    url: '/users/check/'+username,
                    method: 'GET',
                    success: (found)=>{
                        if(found){
                            jump(1);
                            showError("The username chosen is already in use. Please select another");
                        }
                    }

                });
            }
        });

        $('#email').on('blur', ()=>{
            let email = document.getElementById('email').value;
            if(!wsp.test(email)){
                $.ajax({
                    url: '/users/checkEmail/'+email,
                    method: 'GET',
                    success: (found)=>{
                        if(found){
                            jump(2);
                            showError("The email address chosen is already in use. Please select another");
                        }
                    }
                });
            }
        });

        $('#email-corr').on('blur', ()=>{
            let email = document.getElementById('email-corr').value;
            if(!wsp.test(email)){
                $.ajax({
                    url: '/users/checkCorrEmail/'+email,
                    method: 'GET',
                    success: (found)=>{
                        if(found){
                            jump(3);
                            showError("The correspondence email address chosen is already in use. Please select another");
                        }
                    }
                });
            }
        });

        hideErr();
    </script>
</body>