<head>
    <link rel="stylesheet" href="/uikit/css/uikit.css">
    <link rel="stylesheet" href="/css/general.css">
    <script src="/js/jquery-3.3.1.js"></script>
    <title>Select an Organisation | Town Hall</title>
</head>
<body>
    <div class="center-block center full-length uk-width-1-3@m uk-width-2-3@s uk-width-1-1@xs uk-card uk-card-primary uk-card-body">
        <h3 class="uk-card-title center">Select your Organisation</h3>
        <div class="uk-card-body">
            {{#each organisations}}
            <p class="title"><a href="/organisations/request/{{username}}/{{../username}}">{{name}} - @{{username}}</a></p>
            {{/each}}
        </div>
    </div>
</body>