body {
    margin: 0;
    font-family: sans-serif;
}

*:focus {
    outline: none;
}

.grey-text {
    color: #ddd;
}

.grey {
    color: gray;
}

.black {
    color: black;
}

.small {
    font-size: smaller;
}

.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.block-center {
    margin: 0 auto;
}

.center-block {
    margin: 0 auto;
}

.main {
    position: relative;
}

.errDiv {
    position: absolute;
    top: 0;
    width: 100%;
    /* margin: 0 auto; */
    z-index: 2;
    text-align: center;
}

.errorDiv {
    /* background-color: rgb(253, 229, 11); */
    /* color: black; */
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
}

.notif {
    font-size: 12pt;
    font-weight: bold;
    color: rgb(30, 135, 240);
}

:disabled {
    cursor: not-allowed;
}

a.white, a.white:hover {
    color: white;
}

.full-length {
    height: 100vh;
    overflow-y: auto;
}