body {
    background-color: #eee;
}

.uk-navbar-container {
    height: 70px;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    /* background-color: rgb(30, 135, 240); */
    background-color: black;
}

.uk-navbar-item {
    color: white;
}

.uk-navbar-item:hover {
    color: white;
}

.uk-navbar-nav li a, .uk-navbar-nav li a:focus {
    color: white;
}

.uk-navbar-nav li a:hover {
    color: white;
    text-decoration: underline;
}

.main {
    background-color: #eee;
}

.uk-card-default .uk-card-title {
    color: rgb(30, 135, 240);
    /* color: black; */
}

.uk-input, .uk-select {
    margin-bottom: 10px;
}

#uk-input {
    margin-top: 15px;
    margin-bottom: 15px;
}

.button, .button-lgn {
    border: transparent;
    color: white;
    margin-top: 10px;
    width: 150px;
    height: 2.5em;
    border-radius: 10px;
    /* background-color: black; */
    background-color: rgb(30, 135, 240);
}

.button-lgn {
    width: 100px;
}

.button:hover, .button-lgn:hover {
    text-decoration: underline;
    cursor: pointer;
}

#about {
    margin-top: 20px;
}