body {
    margin: 0;
    font-family: sans-serif;
}

.grey-text {
    color: #ddd;
}

.grey {
    color: gray;
}

.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}

.left-bar {
    width: 18%;
    padding: 1%;
    height: 700px;
    background-color: rgb(112, 146, 190);
    color: white;
    float: left;
}

.switch:focus {
    outline: none;
}

.switch.active {
    color: rgb(112, 146, 190);
}

.switch:hover {
    color: rgb(112, 146, 190);
    cursor: pointer;
}

.main {
    width: 58%;
    padding: 1%;
    height: 620px;
    overflow-y: auto;
    padding-top: 0%;
    float: left;
    /* background-color: #ddd; */
}

.main a, .tag {
    color: rgb(112, 146, 190);
}

.main a:hover, .tag:hover {
    color: rgb(151, 195, 253);
}

.switch {
    width: 49%;
    height: 3em;
    margin-bottom: 10px;
    border: none;
    background-color: unset;
    font-size: 13pt;
    transition: all 0.2s;
    border-bottom: 2px solid rgb(151, 195, 253);
}

.right-bar {
    width: 18%;
    height: 700px;
    background-color: rgb(112, 146, 190);
    color: white;
    padding: 1%;
    float: left;
}

.beatSect {
    height: 550px;
    overflow-y: auto;
    padding: 1%;
}

.avatar {
    width: 100%;
    text-align: center;
}

.avatarDiv {
    width: 100%;
}

#avatar {
    width: 70%;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.block-center {
    margin: 0 auto;
}

.pending {
    color: grey;
    text-align: center;
}

.postDiv {
    /* margin: 0 auto; */
    text-align: center;
}

.post {
    width: 60%;
    padding: 10px;
    font-size: 14pt;
    height: 7em;
    resize: none;
    border-radius: 10px;
    line-height: 1.25em;
}

.post:disabled {
    cursor: not-allowed;
}

.post:focus {
    outline: none;
}

.postBtn {
    width: 100px;
    margin-right: 20%;
    height: 2.5em;
    background-color: rgb(112, 146, 190);
    border: none;
    border-radius: 5px;
    color: white;
}

.postBtn:disabled:hover {
    cursor: not-allowed;
}

.postBtn:hover {
    background-color: rgb(151, 195, 253);
    cursor: pointer;
}

footer {
    position: absolute;
    width: 58%;
    bottom: 0;
    /* padding: 0.25%; */
    text-align: center;
    border-top: 2px solid black;
}