.left-bar {
    padding: 1%;
    height: 100vh;
    background-color: #1e87f0;
    color: white;
}

.tabs {
    text-align: center;
    margin-bottom: 20px;
}

.tab {
    display: inline;
    margin: 10px;
    padding: 10px;
}

.tab:hover {
    background-color: #1e87f0;
    cursor: pointer;
    color: white;
}

.active {
    border-bottom: 2px solid #1e87f0;
}

.main {
    padding: 1%;
    height: 100vh;
    overflow-y: auto;
    padding-top: 1%;
}

.main a, .tag {
    color: #1e87f0;
}

.main a:hover, .tag:hover {
    color: #4099f1;
}

#search {
    position: relative;
    top: 0;
    margin-bottom: 10px;
}

#searchBox {
    width: 95%;
    height: 2.5em;
    border-radius: 10px;
    border: 2px solid #1e87f0;
    padding: 5px;
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.searchSuggs {
    position: absolute;
    top: 2.5em;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
}

.searchSugg {
    width: 95%;
    text-align: left;
    background-color: #fff;
    border: 1px solid #eee;
    border-top-width: 0;
}

.sugg {
    display: block;
    margin: 7px;
    padding: 5px;
}

.activeSugg {
    background-color: #eee;
    color: white;
}

.trend {
    border: 2px solid #4099f1;
    height: 4.5em;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

.right-bar {
    height: 100vh;
    background-color: #1e87f0;
    color: white;
    padding: 1%;
}

.right-bar a {
    color: white;
}

.right-bar a:hover {
    color: white;
    text-decoration: underline;
}

.beatSect {
    padding: 1%;
}

.avatar {
    width: 100%;
    text-align: center;
}

.avatarDiv {
    width: 100%;
}

#avatar {
    width: 70%;
    max-height: 30vh;
}

.pending {
    color: grey;
    text-align: center;
}

.postDiv {
    text-align: center;
}

.post {
    width: 60%;
    padding: 10px;
    font-size: 14pt;
    height: 7em;
    resize: none;
    border-radius: 10px;
    line-height: 1.25em;
}

.post:disabled {
    cursor: not-allowed;
}

.post:focus {
    outline: none;
}

.postBtn {
    width: 100px;
    margin-right: 20%;
    height: 2.5em;
    background-color: #1e87f0;
    border: none;
    border-radius: 5px;
    color: white;
}

.postBtn:disabled:hover {
    cursor: not-allowed;
}

.postBtn:hover {
    background-color: #4099f1;
    cursor: pointer;
}