.dist {
    font-size: 11pt;
}

.sidebar {
    padding: 1%;
    height: 100vh;
    overflow-y: auto;
    background-color: #1e87f0;
    color: white;
}

.main {
    padding: 1%;
    height: 100vh;
    overflow-y: auto;
}

.rightBar {
    height: 100vh;
    padding: 1%;
    overflow-y: auto;
    color: white;
    background-color: #1e87f0;
}

.main-content {
    margin: 0 auto;
    padding-top: 1%;
}

.main a, .tag {
    color: #1e87f0;
}

.main a:hover, .tag:hover {
    color: #4099f1;
}

.tabs {
    margin-bottom: 10px;
}

.tab-content {
    overflow-y: auto;
}

.avatar {
    width: 100%;
    text-align: center;
}

#avatar {
    width: 80%;
    max-height: 30vh;
}

.tabBtn {
    margin-right: 2%;
    height: 2.25em;
    background-color: transparent;
    border: none;
    font-size: 13pt;
    padding: 1%;
}

.tabBtn:hover {
    color: white;
    background-color: #1e87f0;
    cursor: pointer;
}

.tabBtn:focus {
    outline: none;
}

.active {
    border-bottom: 2px solid #1e87f0;
}

.hidden {
    display: none;
}

.postDiv {
    /* margin: 0 auto; */
    text-align: center;
}

.post {
    width: 55%;
    padding: 10px;
    font-size: 14pt;
    height: 7em;
    resize: none;
    border-radius: 10px;
    line-height: 1.25em;
}

.postBtn {
    width: 100px;
    margin-right: 20%;
    height: 2.5em;
    background-color: #1e87f0;
    border: none;
    border-radius: 5px;
    color: white;
}

.postBtn:hover {
    background-color: #4099f1;
    cursor: pointer;
}

/* #filter {
    padding: 5px;
    background-color: #aaa;
    font-weight: bold;
    color: white;
    border: none;
}

#filter:focus{
    outline: none;
}

#filter option{
    font-weight: bold;
    padding: 5px;
} */

.tabBar a {
    color: white;
}

.tabBar a:hover {
    color: white;
    text-decoration: underline;
}