.notif {
    text-align: center;
    color: #1e87f0;
    padding: 10px;
    font-weight: bold;
}

.content {
    height: 100vh;
    overflow-y: auto;
}

.sidebar {
    text-align: center;
    font-size: 14pt;
    padding-top: 20px;
    color: white;
    background-color: #1e87f0;
}

.sidebar a, .right-sect a {
    color: white;
}

.avatar-img {
    width: 50%;
    max-height: 30vh;
    display: block;
    margin: 0 auto;
}

.main {
    padding: 10px;
    overflow-y: auto;
}

.main a, .tag {
    color: #1e87f0;
}

.main a:hover, .tag:hover {
    color: #4099f1;
}

.right-sect {
    color: white;
    background-color: #1e87f0;
    padding: 10px;
}

.tabs {
    text-align: center;
    margin-bottom: 20px;
}

.tab {
    display: inline;
    margin: 10px;
    padding: 10px;
}

.tab:hover {
    background-color: #1e87f0;
    cursor: pointer;
    color: white;
}

.active {
    border-bottom: 2px solid #1e87f0;
}

.tab-content {
    margin: 0 auto;
    width: 90%;
}

.postDiv {
    text-align: center;
}

.post {
    width: 60%;
    padding: 10px;
    font-size: 14pt;
    height: 7em;
    resize: none;
    border-radius: 10px;
    line-height: 1.25em;
}

.post:focus {
    outline: none;
}

.postBtn {
    width: 100px;
    margin-right: 20%;
    height: 2.5em;
    background-color: #1e87f0;
    border: none;
    border-radius: 5px;
    color: white;
}

.postBtn:hover {
    background-color: #4099f1;
    cursor: pointer;
}

.lineDiv {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75%;
}

/* .posts {
    margin: 0 auto;
    width: 90%;
} */

.journo {
    border: 2px solid black;
    width: 27%;
    height: 25em;
    float: left;
    margin: 1%;
    padding: 10px;
}

.javatar {
    margin: 0 auto;
    width: 90%;
}

.javatar img {
    width: 100%;
}

.table-link a{
    color: #eee;
}

.sen a{
    color: black;
}

.j-req-table {
    width: 100%;
}

.j-td {
    padding: 5px;
    width: 25%;
}

.j-tr {
    outline: thin solid;
    padding: 5px;
}

td img {
    width: 100%;
}

.btn-img {
    width: 10%;
}

.btn-img:hover {
    cursor: pointer;
}

#j_table th {
    text-align: center;
}