.notif {
    text-align: center;
    color: red;
    padding: 10px;
    font-weight: bold;
}

.sidebar {
    width: 18%;
    padding: 1%;
    float: left;
    text-align: center;
    font-size: 14pt;
    height: 650px;
    color: white;
    background-color: rgb(13, 118, 150);
}

.sidebar a, .right-sect a {
    color: white;
}

.avatar-img {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.main {
    width: 58%;
    /* margin-top: 0.5%; */
    padding: 1%;
    float: left;
    overflow-y: auto;
    /* border-bottom: 2px solid black; */
    height: 620px;
}

.main a, .tag {
    color: rgb(13, 118, 150);
}

.main a:hover, .tag:hover {
    color: rgb(21, 176, 223);
}

.right-sect {
    width: 18%;
    padding: 1%;
    float: left;
    height: 650px;
    color: white;
    background-color: rgb(13, 118, 150);
}

.tabs {
    text-align: center;
    margin-bottom: 20px;
}

.tab {
    display: inline;
    margin: 10px;
    padding: 10px;
}

.tab:hover {
    /* background-color: rgb(244, 247, 72); */
    background-color: rgb(13, 118, 150);
    /* color: white; */
    cursor: pointer;
    color: white;
}

.active {
    /* border-bottom: 2px solid rgb(244, 247, 72); */
    border-bottom: 2px solid rgb(13, 118, 150);
}

#beatBtn {
    height: 2em;
    width: 120px;
    border: none;
    border-radius: 5px;
    background-color: rgb(231, 45, 20);
    color: white;
}

#beatBtn:hover {
    background-color: rgb(253, 50, 23);
    cursor: pointer;
}

.table {
    width: 100%;
}

.td {
    width: 50%;
    padding: 2%;
}

.table-link {
    color: white;
}

.postDiv {
    /* margin: 0 auto; */
    text-align: center;
}

.post {
    width: 60%;
    padding: 10px;
    font-size: 14pt;
    height: 7em;
    resize: none;
    border-radius: 10px;
    line-height: 1.25em;
}

.post:focus {
    outline: none;
}

.postBtn {
    width: 100px;
    margin-right: 20%;
    height: 2.5em;
    background-color: rgb(13, 118, 150);
    border: none;
    border-radius: 5px;
    color: white;
}

.postBtn:hover {
    background-color: rgb(21, 176, 223);
    cursor: pointer;
}

.lineDiv {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75%;
}

hr {
    border: 0.5px solid grey;
}

.posts {
    margin: 0 auto;
    width: 85%;
}

.journo {
    border: 2px solid black;
    width: 27%;
    height: 25em;
    float: left;
    margin: 1%;
    padding: 10px;
}

.javatar {
    margin: 0 auto;
    width: 90%;
}

.javatar img {
    width: 100%;
}

footer {
    position: absolute;
    width: 58%;
    bottom: 0;
    /* padding: 0.25%; */
    text-align: center;
    border-top: 2px solid black;
}

.table-link a{
    color: #eee;
}

.sen a{
    color: black;
}

.j-table {
    width: 100%;
}

.j-td {
    padding: 5px;
    width: 25%;
}

.j-tr {
    outline: thin solid;
    padding: 5px;
}

td img {
    width: 100%;
}

.btn-img {
    width: 10%;
}

.btn-img:hover {
    cursor: pointer;
}