body {
    background-color: rgb(209, 238, 255);
    margin: 0;
}

h1.center {
    margin-top: 0;
    padding-top: 50px;
    margin-bottom: 100px;
    font-size: 30pt;
}

main {
    /* background-color: rgb(4, 4, 22); */
    background-color: rgb(71, 111, 163);
    color: white;
    text-align: center;
    height: 400px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.italic {
    font-style: italic;
}

.center-box {
    width: 550px;
    padding: 20px;
    margin: 0 auto;
    height: 400px;
}

.background-white {
    background-color: white;
}

.button {
    width: 150px;
    height: 2.25em;
    border-radius: 10px;
    margin: 10px;
    font-size: 14pt;
    background-color: transparent;
    color: white;
    border: 2px solid #eee;
    transition: all 0.5s;
}

.button:hover {
    border: none;
    background-color: #eee;
    color: black;
    cursor: pointer;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline;
    padding: 20px;
    margin: 40px;
}