html {
    background-color: #eee;
}

body {
    margin: 0 auto;
    width: 80%;
    font-family: sans-serif;
}

.content {
    float: left;
    height: 648px;
}

#leftBar {
    width: 19%;
    padding: 0.5%;
    color: black;
}

#main {
    width: 79%;
    padding: 0.5%;
}

.avatar {
    width: 100%;
    margin: 0 auto;
    display: block;
}

#main {
    background-color: white;
    overflow-y: auto;
}

a {
    text-decoration: none;
}

.b {
    background-color: rgb(13, 118, 150);
}

a, .tag {
    color: rgb(13, 118, 150);
}

a:hover, .tag:hover {
    color: rgb(21, 176, 223);
}

.b a {
    color: white;
}

.b a:hover {
    color: white;
    text-decoration: underline;
}

.followBtn {
    width: 80%;
    height: 2.5em;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(21, 176, 223);
}

.followBtn:hover {
    text-decoration: underline;
    cursor: pointer;
}