body {
    font-family: sans-serif;
}

.content {
    height: 100vh;
}

#main {
    padding: 20px;
}

.tab-content {
    width: 95%;
    margin: 0 auto;
}

#leftBar {
    padding-top: 20px;
    background-color: #1e87f0;
    color: white;
}

#rightBar {
    background-color: #1e87f0;
    color: white;
    padding: 10px;
}

.avatar {
    width: 60%;
    height: 25vh;
    margin: 0 auto;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid white;
    display: block;
}

#main, .errorDiv, .errDiv{
    background-color: white;
    overflow-y: auto;
}

a {
    text-decoration: none;
}

a, .tag {
    color: #1e87f0;
}

a:hover, .tag:hover {
    color: #4099f1;
}

.b a {
    color: white;
}

.b a:hover {
    color: white;
    text-decoration: underline;
}

.followBtn {
    width: 80%;
    height: 2.5em;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #4099f1;
}

.followBtn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.white {
    color: white;
}

.white:hover {
    color: white;
}

.trend {
    border: 2px solid #4099f1;
    height: 4.5em;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

.trend a {
    color: white;
}

#rightBar a, #rightBar a:hover {
    color: white;
}

.tabs {
    margin-bottom: 10px;
}

.tabBtn {
    margin-right: 2%;
    height: 2.25em;
    background-color: transparent;
    border: none;
    font-size: 13pt;
    padding: 1%;
}

.tabBtn:hover {
    color: white;
    background-color: #1e87f0;
    cursor: pointer;
}

.tabBtn:focus {
    outline: none;
}

.active {
    border-bottom: 2px solid #1e87f0;
}

.hidden {
    display: none;
}