a:hover {
    text-decoration: underline;
}

.result {
    width: 22%;
    height: 15em;
    padding-top: 10px;
    float: left;
    border-radius: 10px;
    margin: 5px;
    flex: 0 0 auto;
}

.result figcaption {
    height: 2em;
    overflow: hidden;
}

.center-block {
    display: block;
    margin: 0 auto;
}

.result figure {
    height: 10em;
}

.result figure p {
    max-height: 3.2em;
    overflow: hidden;
}

.j-avatar {
    height: 5em;
    width: 5em;
    padding: 2px;
    border: 2px solid #1e87f0;
    border-radius: 50%;
}

.verified {
    height: 1em;
}

.deep-grey-text {
    color: #444;
}

.follow {
    width: 80%;
    height: 2.5em;
    border: none;
    border-radius: 10px;
    color: white;
}

.follow:hover {
    cursor: pointer;
}

.border {
    border: 2px solid #1e87f0;
}

.result a {
    color: #1e87f0;
}

.result a:hover {
    color: #4099f1;
}