.error {
    color: #1e87f0;
    font-size: 16pt;
}

.content {
    height: 100vh;
}

#leftBar {
    padding-top: 1%;
    background-color: #1e87f0;
}

#leftContent {
    padding: 10px;
    height: 90%;
}

#rightContent {
    padding: 10px;
    height: 99%;
    overflow-y: auto;
}

#centerBar {
    padding: 1%;
    padding-top: 0%;
    overflow-y: auto;
}

#rightBar {
    padding: 1%;
    background-color: #1e87f0;
}

.avatar {
    height: 5em;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 50%;
    padding: 0.5%;
}

#avatarFig {
    height: 10%;
}

.sug-content {
    height: 90%;
    overflow-y: auto;
}

.suggestions p {
    border-bottom: 2px solid #4099f1;
}

#leftBar a, #rightBar a {
    color: white;
    text-decoration: none;
}

#leftBar a:hover, #rightBar a:hover {
    text-decoration: underline;
}

#centerBar a {
    color: #1e87f0;
}

#centerBar a:hover {
    color: #4099f1;
}

#search {
    position: relative;
}

#searchBox {
    width: 90%;
    height: 2.5em;
    border-radius: 10px;
    border: 2px solid #1e87f0;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.searchSuggs {
    position: absolute;
    top: 2.5em;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
}

.searchSugg {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    background-color: #fff;
    border: 1px solid #eee;
    border-top-width: 0;
}

.sugg {
    display: block;
    margin: 7px;
    padding: 5px;
}

.accounts {
    height: 18em;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    /* Child element has flex: 0 0 auto */
}

.trend {
    border: 2px solid #4099f1;
    height: 4.5em;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

a {
    text-decoration: none;
}

.b a {
    color: white;
}

.b a:hover {
    color: white;
    text-decoration: underline;
}

.activeSugg {
    background-color: #eee;
    color: white;
}

#tr-err {
    color: white;
}