body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ddd;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.center-block {
    margin: 0 auto;
}

.main {
    margin-top: 0;
    padding: 2%;
    height: 600px;
    overflow-y: auto;
    width: 30%;
    background-color: white;
}