body {
    background-color: #ccc;
    margin-top: 0;
    font-family: sans-serif;
}

.center {
    text-align: center;
}

.center-block {
    margin: 0 auto;
}

.error, .errorDiv {
    color: #1e87f0;
    text-align: center;
}

form {
    width: 500px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

input {
    width: 400px;
    border: 1px solid grey;
    padding: 5px;
    height: 2em;
    margin: 20px;
}

.no-border {
    border: none;
}

button {
    background-color: #1e87f0;
    border: transparent;
    color: white;
    width: 100px;
    height: 2.5em;
}

button:hover {
    cursor: pointer;
    background-color: #4099f1;
}

.l-button {
    background-color: #1e87f0;
}

.l-button:hover {
    background-color: #4099f1;
}

.j-button {
    background-color: #1e87f0;
}

.j-button:hover {
    background-color: #4099f1;
}

.u-button {
    background-color: #1e87f0;
}

.u-button:hover {
    background-color: #4099f1;
}